package main

import (
	"github.com/funcgql/foundations/server"
	"{{.ModuleName}}/graph"
	"{{.ModuleName}}/graph/generated"
)

func main() {
  schema := generated.NewExecutableSchema(generated.Config{Resolvers: &graph.Resolver{}})
	server.NewLocalServer(schema).Start()
}
