# Below is generated template schema. Please replace with actual schema for the module.

type {{.ModuleTypeName}} {
  id: ID!
}

type Query {
  {{.QueryFunctionName}}(id: String!): {{.ModuleTypeName}}
}
